// Variables declaration

$grey : #777;
$white: #fff;

$unvisited-link: #51ddfc;

$color-primary: #58e1c1; //teal

$color-error: #e4757a;

$color-default: #51ddfc;

$color-success: #63cc82;

$color-info: #927bc1;

$color-warning: #fd7856;

$breakpoint-s: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;     